/* common shared style  */
body{
    // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
}
/* nav related stye */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
}
.nav_title{
    font-size: 45px;
font-style: normal;
font-weight: 800;}
.primary_text_color{
    color:#FD6E0A ;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color: #474747;
    
}
.btn_primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}
/* header-related-style */
.header{
    background-color:#FFF8F3 ;
    background-image:url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 25px 25px 0px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-poto{
width: 400px;
}
.banner-greeting{
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-contant{
    max-width: 400px;
}